.showInAnimation {
  animation: showOpacity 1s;
}
@keyframes showOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-item.active .page-link {
  background-color: #5f2eea !important;
  border-color: #5f2eea !important;
  -webkit-box-shadow: -1px -1px 34px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -1px -1px 34px -5px rgba(0, 0, 0, 0.55);
  box-shadow: -1px -1px 34px -5px rgba(0, 0, 0, 0.55);
}

.page-link {
  cursor: pointer !important;
}

#pills-tab {
  margin-bottom: 0px !important;
}

.img-detail {
  max-width: 300px;
}

.ticket-page {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-filter-ticket {
  border: 1px solid gray;
  border-radius: 5px;
}

.card.history {
  width: 49vw;
}

.show-details {
  width: 115px;
}

.nav-pills .nav-link.active {
  color: black !important;
  background-color: transparent !important;
  border-bottom: 2px solid #5f2eea !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

.btn-primary {
  background-color: #5f2eea !important;
  border-color: #5f2eea !important;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: white !important;
}

.mobile-menu {
  box-shadow: -1px 20px 20px 100vw #a5a5a573;
}

.select {
  border: none;
  padding: 10px;
  outline: none;
  width: 130px;
  margin-right: 40px;
  color: #4e4b66;
}

select#loc {
  width: fit-content;
  border-radius: 1px;
}

.text-decoration-none {
  color: #14142b;
  text-decoration: none;
}

.menu-mobile {
  display: none;
}

.input-form {
  width: 100%;
  height: 44px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 26px;
  outline: none;
  background: transparent;
}

.img-fluid {
  width: 40vw !important;
  height: auto !important;
  position: absolute !important;
  top: 30vh !important;
}

.sub-text {
  position: absolute;
  top: 47vh;
  left: 15vw;
  font-weight: lighter;
}

.sign-up {
  width: 120px !important;
  height: 40px !important;
}

.plus-62 {
  width: 45px !important;
}

.icon-payment {
  width: fit-content;
  height: auto;
  justify-self: center;
}

.ps-4-5 {
  padding-left: 2.2rem !important;
}

.btn-submit-grey {
  border: none;
  border-radius: 10px;
  color: #5f2eea;
  width: 162px;
  height: 48px;
}

.btn-submit-transparent {
  border: 2px solid #5f2eea;
  background-color: #ffffff00;
  color: #5f2eea;
  width: 300px;
  height: 56px;
}

.btn-submit-solid {
  border: none;
  background-color: #5f2eea;
  color: #ffffff;
  width: 300px;
  height: 56px;
}

.hover-movies {
  bottom: -110px;
}

.detail-order {
  flex: 0;
}

.table-detail {
  flex: 0;
}

hr {
  width: -webkit-fill-available;
  background-color: #e6e6e6;
  border: none;
}

.img-order {
  width: 220px;
  margin: 0px auto;
  margin-top: 30px;
}

.cinema-text {
  font-size: 24px;
  color: black;
  font-weight: 600;
  margin: 0px auto;
}

.seat-img {
  width: 95%;
}

.main-panel {
  flex-grow: 1.7;
}

.synopsys {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  text-align: justify;
}

.cinema:hover {
  box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
  border-radius: 24px;
}

.lg-display-none {
  display: none;
}

.img-seat-mobile {
  width: 100%;
}

.seat-item {
  width: 140px;
  height: 36px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.bg-none {
  background: none !important;
}

.btn-submit-solid {
  border: none;
  background-color: #5f2eea;
  color: #ffffff;
  width: 300px;
  height: 56px;
}

.box-join {
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
  border-radius: 8px;
  margin: 0px auto;
  margin-bottom: 10em;
}

.month-movies {
  overflow-x: hidden;
  white-space: nowrap;
}

.month-movies:hover {
  overflow-x: auto;
}

.month-movies input {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.text-join {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #6e7191;
}

.input-email {
  border: 2px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  width: 306px;
  height: 43px;
  padding: 15px;
}

.btn-submit-email {
  background: #5f2eea;
  border-radius: 4px;
  width: 120px;
  height: 43px;
  border: none;
  color: #ffffff;
}

.nav-showing {
  font-weight: 700;
  font-size: 24px;
  margin-top: 64px;
}

.color-blue,
.blue {
  color: #5f2eea !important;
}

.cat-movies {
  margin-top: 0px;
}

.btn-cinema {
  box-shadow: 0px 8px 16px rgb(186 186 186 / 70%);
}

.btn-cinema:hover {
  background-color: #9570fe;
}

.title-movies {
  font-weight: 700;
  font-size: 15px;
  margin: 0px;
  max-width: 120px;
}

.cat-movies {
  font-size: 12px;
  font-weight: 400;
  color: #a0a3bd;
}

.btn-detail-movies {
  border: 1px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  color: #5f2eea;
  width: 159px;
  height: 33px;
  margin: 32px;
}

.btn-month-movies {
  width: 127px;
  height: 42px;
  background: #ffffff;
  border: 1px solid #5f2eea;
  border-radius: 4px;
}

.btn-month-movies.selected {
  box-shadow: 0px 2px 5px rgb(95 46 234 / 30%);
  background: #5f2eea;
  color: #ffffff;
}

.color-black {
  color: #14142b;
}

.nav-showing > div > hr,
.nav-showing > div > p {
  margin: 0px;
}

.nav-showing > div > p {
  margin-bottom: 10px;
}

.nav-showing > div > hr {
  background-color: #5f2eea;
  border: none;
  width: 100px;
  margin-left: 1.2em;
}

.nav-showing > div > span,
.nav-showing > div > a {
  text-decoration: none;
  font-size: 16px;
  color: #5f2eea;
}

.text-head {
  font-weight: 400;
  color: #a0a3bd;
  font-size: 24px;
}

.findNowText {
  font-size: 56px;
  color: #5f2eea;
  font-weight: 700;
}

.joinArea {
  font-size: 48px !important;
}

.card-showing {
  background-color: #ffffff8f;
  border: 2px solid #ffffff;
  height: 290px;
}

.h-auto {
  height: auto !important;
  background-color: white;
  box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
}

.card-movies {
  background-color: #ffffff;
  border: 0.5px solid #dedede;
}

.card-showing > img,
.card-movies > img {
  padding: 22px;
  width: auto;
  max-width: 200px;
  border-radius: 30px;
}

.bg-grey {
  background-color: #f5f6f8;
}

.bg-none {
  background: none !important;
}

.element-showing {
  margin-bottom: 104px !important;
  overflow: hidden !important;
}

.element-showing:hover {
  overflow: auto !important;
}

.tels {
  margin-left: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: #5f2eea;
  border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input#minutes {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px;
  text-align: center;
}

.input-form.datepicker {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.label-edit {
  margin: 15px 0px;
}
textarea {
  overflow: hidden;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

textarea:hover {
  overflow: auto;
}

.dropdown,
.dropup {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > li > span:focus,
.dropdown-menu > li > span:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.dropdown-menu > .active > span,
.dropdown-menu > .active > span:focus,
.dropdown-menu > .active > span:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.dropdown-menu > .disabled > span,
.dropdown-menu > .disabled > span:focus,
.dropdown-menu > .disabled > span:hover {
  color: #777;
}

.dropdown-menu > .disabled > span:focus,
.dropdown-menu > .disabled > span:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
  display: block;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.min-height-cinemas {
  min-height: 90px;
}

.cursor-pointer {
  cursor: pointer;
}

.card-loyalty {
  background-image: url("../images/card_r.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.pz-4 {
  padding: 1rem 10rem 3rem 2rem !important;
}

.card-cinema {
  min-height: 9rem !important;
}

.card-cinema span {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-profile {
  opacity: 1;
  display: block;
  width: 200px;
  height: 250px;
  border-radius: 50%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.img-cover {
  object-fit: cover;
}

.imgMovie {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle-profile {
  position: absolute;
  top: 1.6rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: auto;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #5f2eea;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #5f2eea;
}

.wraper-image:hover .middle {
  opacity: 80%;
}

.wraper-image:hover .middle-profile {
  opacity: 80%;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

#show_time {
  display: none;
}

.br-50 {
  border-radius: 50%;
}

.grid button:disabled {
  color: #a0a3bd !important;
}

.nav-item.disabled {
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .ticket-page {
    width: 75vw;
  }

  .row.row.header {
    height: 65px;
  }

  .bg-primary.px-5.py-5 {
    padding-left: 20px !important;
  }

  .col-4.circle {
    margin: 0px auto;
    border-left: none !important;
  }

  .tiket-wrapper {
    width: 70vw !important;
    padding: 30px 0px !important;
  }

  .row.content > .col-8,
  .row.header > .col-8,
  .col-4.circle::before,
  .col-4.right::before {
    display: none;
  }

  .bg-grey.px-5.py-5.mx-5.my-5.border-rounded2 {
    width: 90vw;
    margin-left: 0px !important;
  }

  .row.content .col-4.right {
    width: 70vw;
    height: 40vh;
  }

  div.bg-primary.px-5.py-5 > div > div.d-flex.justify-content-center {
    padding-bottom: 30px;
  }

  .ticket-page img {
    display: none;
  }

  .ticket-page > .card.history {
    width: 70vw;
  }

  .ticket-page .btn {
    width: 100px;
  }

  .col-lg-3.d-flex.flex-column.bg-white.me-5.border-rounded2,
  .col-8.bg-white.border-rounded2 {
    width: 90vw;
    margin: 0px 20px;
  }

  .col-8.bg-white.border-rounded2 {
    margin-top: 50px;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: absolute;
    z-index: 2;
  }

  .card-cinema span {
    width: 300px;
    white-space: pre-wrap;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../images/gg_menu-right-alt.png") !important;
  }
  .navbar-light .navbar-toggler {
    border: none !important;
  }
  .navbar > .container {
    width: 100vw !important;
  }
  button.navbar-toggler:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  .absolute-container {
    position: absolute;
    z-index: 1;
    margin-top: 10vh;
    width: 100vw;
  }

  .sponsor-icon {
    margin-left: -15px;
  }

  header {
    width: 100vw;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 40px;
    margin-bottom: 100px;
    position: absolute;
    z-index: 2;
    background-color: white;
  }

  header > div:nth-child(2) {
    margin-right: 10px;
  }

  header > div:nth-child(1) {
    margin-left: 10px;
  }

  div#menu {
    width: 100vw;
    position: absolute;
    background: white;
    padding-right: 6px;
    z-index: 2;
    margin-top: 9.5vh;
  }

  .shadow-menu {
    width: 100vw;
    height: 100%;
    background-color: #000000a6;
    z-index: 1;
    opacity: 30%;
    position: fixed;
  }

  .warped-menu {
    width: 95% !important;
    margin: 0px auto;
  }

  .footer-nav {
    margin: 30px 0px;
  }

  .select {
    border: none;
    padding: 10px;
    outline: none;
    width: 110px;
    color: black;
  }

  .menu-mobile.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-sponsor {
    margin-left: -15px;
  }
  .sm-grid-template-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .sm-grid-template-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .sm-grid-template-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .sm-flex-direction-row-reverse {
    flex-direction: row-reverse;
  }
  .sm-flex-direction-row {
    flex-direction: row;
  }

  .sm-flex-direction-col-reverse {
    flex-direction: column-reverse;
  }
  .sm-flex-direction-col {
    flex-direction: column;
  }
  .sm-text-center {
    text-align: center;
  }

  .sm-margin-x-05 {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .sm-margin-x-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .sm-margin-y-05 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .sm-display-flex-50 {
    display: flex;
    flex: 0.5;
  }

  .sm-padding-x-05 {
    padding-left: 1em;
    padding-right: 1em;
  }

  .sm-margin-top-0 {
    margin-top: 0;
  }

  .sm-margin-right-0 {
    margin-right: 0;
  }

  .sm-margin-left-0 {
    margin-left: 0;
  }

  .sm-margin-bottom-1 {
    margin-bottom: 1em;
  }

  .sm-position-absolute {
    position: absolute !important;
  }

  .sm-transform-content,
  .sm-transform-footer {
    transform: translate(0px, 60px);
  }

  .cinema {
    box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
    border-radius: 24px;
  }

  .sm-display-none {
    display: none;
  }

  .sm-display-flex {
    display: flex;
  }

  .lg-display-none {
    display: block;
  }

  .sm-shadow-bottom {
    box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
  }

  .btn-submit-transparent,
  .btn-submit-solid {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn-checkout {
    margin-left: 2.2em;
  }

  .input-form {
    width: 75vw;
  }

  .tel {
    width: 34vw !important;
  }

  .sm-border-none {
    border-radius: 0px;
  }

  .sm-w-100 {
    width: 100%;
  }

  .sm-w-94 {
    width: 94%;
  }

  .sm-w-80 {
    width: 80%;
  }
  .cinema {
    box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
    border-radius: 24px;
  }

  .sm-display-none {
    display: none;
  }

  .lg-display-none {
    display: block;
  }

  .sm-shadow-bottom {
    box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
  }

  .text-head {
    font-size: 14px;
  }

  .findNowText {
    font-size: 48px;
  }

  .sm-container {
    margin: 0px;
    align-items: unset;
    width: unset;
  }

  .sm-container-1 {
    margin: 1em;
    align-items: unset;
    width: unset;
  }

  .sm-overflow {
    overflow-x: auto !important;
    white-space: nowrap;
  }

  .box-join {
    text-align: center;
  }

  .btn-submit-email {
    width: 306px;
    margin-top: 20px;
  }

  .container-head {
    margin-left: -50px;
    margin-bottom: 30px;
  }

  .btn-order {
    max-width: 350px;
    width: 85vw !important;
  }
  h5.card-title {
    max-width: 155px;
  }
}
