.display-flex {
  display: flex;
  flex: 1;
}

.display-flex-10 {
  display: flex;
  flex: 0.1;
}

.display-flex-20 {
  display: flex;
  flex: 0.2;
}
.display-flex-30 {
  display: flex;
  flex: 0.3;
}
.display-flex-40 {
  display: flex;
  flex: 0.4;
}
.display-flex-50 {
  display: flex;
  flex: 0.5;
}
.display-flex-60 {
  display: flex;
  flex: 0.6;
}
.display-flex-70 {
  display: flex;
  flex: 0.7;
}
.display-flex-80 {
  display: flex;
  flex: 0.8;
}
.display-flex-90 {
  display: flex;
  flex: 0.9;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-col-reverse {
  flex-direction: column-reverse;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-content-start {
  justify-content: flex-start;
}

.flex-content-evenly {
  justify-content: space-evenly;
}

.flex-content-end {
  justify-content: flex-end;
}

.flex-content-center {
  justify-content: center;
}

.flex-content-between {
  justify-content: space-between;
}

.is-vertically-centered {
  align-items: center;
}

.display-block {
  display: block;
}

.display-inherit {
  display: inherit;
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}

.w-30em {
  width: 30em;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-60 {
  width: 60%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-50 {
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-60 {
  height: 60%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}
.h-95 {
  height: 95%;
}
.h-100 {
  height: 100%;
}

.background-grey {
  background: #eff0f6;
}
.background-primary {
  background: #5f2eea;
}

.background-white {
  background: #fff;
}

.background-warning {
  background: rgba(244, 183, 64, 0.3);
  border-radius: 4px;
}

.grid {
  display: grid;
  display: grid;
  gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}

.grid-template-columns-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-template-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-template-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-template-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gap-05 {
  gap: 0.5em;
}

.gap-1 {
  gap: 1em;
}

.line {
  text-align: -webkit-center;
}

.text-divider {
  color: #aaaaaa;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: var(--text-sm);
  letter-spacing: 0.1em;
  --text-divider-gap: 1rem;
}
.text-divider::before,
.text-divider::after {
  content: "";
  height: 1px;
  background-color: silver;
  flex-grow: 1;
}
.text-divider::before {
  margin-right: var(--text-divider-gap);
}
.text-divider::after {
  margin-left: var(--text-divider-gap);
}

.box-shadow {
  box-shadow: inset 0px 20px 24px 0px rgb(186 186 186 / 16%);
}

.flex-grow-1 {
  flex-grow: 1;
}

.text-align {
  text-align: center;
}

.flex-warp {
  flex-wrap: wrap;
}

.no-bg {
  background-color: transparent;
}
