.seat-wrapper .card-body {
  padding: 100px;
}

.seat-wrapper .divider {
  height: 8px;
  background: #fcfdfe;
  border-radius: 4px;
}

.seat-col {
  display: flex;
  align-items: center;
}

.seat-number {
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 4px;
  text-align: center;
  margin: 0 8px;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0;
}
.seat {
  width: 65px;
  height: 26px;
  background: #d6d8e7;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
  display: inline-block;
  outline: none;
  border: none;
}

.seat:focus {
  outline: none;
}
.seat:disabled {
  cursor: not-allowed;
}

.sold {
  background: #6e7191;
}

.selected {
  background: #5f2eea;
}

.love {
  background: #f589d7;
}

.seating-key {
  display: flex;
  justify-content: space-around;
}

.seating-item {
  display: flex;
  align-items: center;
}
